{% extends 'noshpit/base.html' %}

{% block content %}
  <h1>Jooooin!</h1>

  <p>
      This is page for those who are joing an already existing pit, are thereofre not the primary user. It will display an input field for the pit token, that they will receive form the primary user. Clicking the start button will redirect to the photo selection page and start the selection process. Start should be selected only when all members have joined the pit!
  </p>

  <h1><a href="{% url 'start' %}">Start Noshing!</a></h1>
{% endblock %}
