{% extends 'noshpit/base.html' %}

{% block content %}
<body class="background-start">
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <a href="/">Nosh Pit!</a>
  </nav>
  <section>
    <h1>Start your pit!</h1>
    <ol>
      <li>
        <p>
          Take the pit token a distribute it among your pit members. You can send it to as many noshers as you wish.
        </p>
        <p> The pit token is: {{ token }} </p>
        <form action="{% url 'invite' %}" method="post">
            {% csrf_token %}
            {{ inviteform }}
            <input type="submit" value="Send Invitation" />
        </form>
      </li>
      <li>
        <p>
          Select the maximum distance you are willing to scavenge for food from your current location.
          <form method="post">
              {% csrf_token %}
              {{ form }}
              <input type="submit" value="Submit" />
          </form>
        </p>
      </li>
    </ol>
  </section>
</body>
{% endblock %}
