@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Shade|Fascinate|Flamenco|Fredericka+the+Great|Frijole|Lily+Script+One|Lobster|Macondo|Modak|Montserrat+Subrayada|Pacifico|Righteous');

body {
  font-family: 'Flamenco', cursive;
  color: white;
  background-color: black;
}
/*homepage*/
body {
  height: 100%;
  /*margin-top: 50px;*/
}

.background {
  /*background: url("../images/food11.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.9;
  height: 85%;*/
  background: url("../images/background1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.button {
    background-color: transparent;
    color: white;
    border: 2px solid yellow;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    padding: 1% 5em;
    margin: 1%;
}

.button:hover {
    background-color: yellow;
    color: black;
}

/*.btn-primary-outline {
    background-color: transparent;
    border-color: yellow;
  }*/
/*.button-group {
  min-height: 100%;
}*/


.empty {
  height: 56%;
}

/*start a pit*/

.background-start {
  background: url("../images/food10b.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

main.start {
  padding: 5%;
}

.save {
  padding: 0.4% 1em;
  margin: 0;
}

/*join a pit*/

.background-join {
  background: url("../images/food17b.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.join {
  padding: 15% 22%;
}

/*waiting room*/

.beg-wait {
  padding: 20% 10% 0% 50%;
}

.background-wait {
  background: url("../images/food19b.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
